.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 5fr 6fr 4fr 4fr 4fr 4fr 4fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "Name Name Name nav nav nav"
    "title title title image image image"
    "profile-img profile-img about about about about"
    "skills skills skills skills skills skills"
    "projects projects projects projects projects projects"
    "projects projects projects projects projects projects"
    "projects projects projects projects projects projects"
    "projects projects projects projects projects projects"
    "footer footer footer footer footer footer";
}
.Name {
  grid-area: Name;
}
.nav {
  grid-area: nav;
}
.title {
  grid-area: title;
}
.image {
  grid-area: image;
}
.profile-img {
  grid-area: profile-img;
}
.about {
  grid-area: about;
}
.skills {
  grid-area: skills;
}
.projects {
  grid-area: projects;
}
.footer {
  grid-area: footer;
}
