@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost&display=swap");

$title-font: "Fjalla One", "Impact", sans-serif;
$body-font: "Jost", "Veranda", sans-serif;
$background-colour: rgb(240, 241, 235);
$body-text-colour: rgb(61, 61, 61);
$title-text-colour: rgb(8, 66, 56);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $background-colour;
}
// Intro/header
.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__title {
    font-family: $title-font;
    color: $title-text-colour;
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
  &__tagline {
    font-family: $body-font;
    color: $body-text-colour;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: center;
  }
}
// Navigation
.navigation {
  display: none;
}
// About - title, image and text about me
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  &__image {
    width: 80%;
    padding: 20px;
  }
  &__title {
    font-family: $title-font;
    font-size: 2rem;
    color: $title-text-colour;
  }
  &__text {
    font-family: $body-font;
    width: 80%;
    text-align: center;
    color: $body-text-colour;
  }
}
// Technical Skills - title, text about my skills, icons representing my skills
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  &__title {
    font-family: $title-font;
    font-size: 2rem;
    padding: 15px;
    color: $title-text-colour;
  }
  &__text {
    font-family: $body-font;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    width: 70%;
    color: $body-text-colour;
  }
  &__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
  }
}
// Projects - title, links and previews of my projects
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;

  &__title {
    font-family: $title-font;
    font-size: 2rem;
    padding: 20px;
    color: $title-text-colour;
  }

  &__card--01 {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $title-text-colour;
  }
  &__card--02 {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $title-text-colour;
  }
  &__card--03 {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $title-text-colour;
  }
}
// Footer - links to my personal git, linkedin and cv, and my email
.contact {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__info {
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  &__info--tagline {
    font-family: $title-font;
    font-size: 2.5rem;
    background-color: black;
  }
  &__info--email {
    font-size: 1rem;
    padding-bottom: 10px;
    font-family: $body-font;
    background-color: black;
  }
  &__links {
    font-family: $body-font;
    font-size: 1rem;
    background-color: black;
  }
  &__links--git {
    background-color: black;
  }
  &__links--linkedin {
    background-color: black;
  }
  &__links--cv {
    background-color: black;
  }
}
