@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost&display=swap");

$title-font: "Fjalla One", "Impact", sans-serif;
$body-font: "Jost", "Veranda", sans-serif;
$background-colour: rgb(240, 241, 235);
$body-text-colour: rgb(61, 61, 61);
$title-text-colour: rgb(8, 66, 56);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $background-colour;
}
// Intro/header
.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__title {
    font-family: $title-font;
    color: $title-text-colour;
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
  &__tagline {
    font-family: $body-font;
    color: $body-text-colour;
    font-size: 1.5rem;
  }
  &__artwork {
    display: none;
  }
}
// Navigation
.navigation {
  display: none;
}
// About - title, image and text about me
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  &__image {
    width: 80%;
    padding: 20px;
  }
  &__title {
    font-family: $title-font;
    font-size: 2rem;
    color: $title-text-colour;
    padding-top: 20px;
  }
  &__text {
    font-family: $body-font;
    width: 80%;
    text-align: center;
    color: $body-text-colour;
  }
}
// Technical Skills - title, text about my skills, icons representing my skills
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;

  &__title {
    font-family: $title-font;
    font-size: 2rem;
    padding: 15px;
    color: $title-text-colour;
  }
  &__text {
    font-family: $body-font;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    width: 50%;
    color: $body-text-colour;
    margin-top: 1rem;
  }
  &__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
}
// Projects - title, links and previews of my projects
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;

  &__title {
    font-family: $title-font;
    font-size: 2rem;
    padding: 20px;
    color: $title-text-colour;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 20px;
  }

  &__window {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $title-text-colour;
    font-family: $body-font;
    width: 370px;
    display: flex;
    flex-direction: column;
  }

  &__mainTitle {
    font-family: $title-font;
    font-size: 1.5rem;
    color: $title-text-colour;
    padding-left: 20px;
  }

  &__miniTitle {
    font-family: $body-font;
    color: $body-text-colour;
    font-size: 1rem;
    padding-left: 20px;
  }

  &__text {
    color: $body-text-colour;
    padding: 20px;
  }
  &__image {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
  }
  &__button {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }
  &__button--code {
    border: 1px solid $title-text-colour;
  }
  &__button--preview {
    border: 1px solid $title-text-colour;
  }
}

// Footer - links to my personal git, linkedin and cv, and my email
.contact {
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__info {
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  &__info--tagline {
    font-family: $title-font;
    font-size: 2.5rem;
    background-color: black;
  }
  &__info--email {
    font-size: 1rem;
    padding-bottom: 10px;
    font-family: $body-font;
    background-color: black;
  }
  &__links {
    font-family: $body-font;
    font-size: 1rem;
    background-color: black;
  }
  &__links--git {
    background-color: black;
  }
  &__links--linkedin {
    background-color: black;
  }
  &__links--cv {
    background-color: black;
  }
}
@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 5fr 6fr 4fr 4fr 4fr 4fr 4fr 2fr;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "header header header header header header"
      "about about about about about about"
      "skills skills skills skills skills skills"
      "projects projects projects projects projects projects"
      "projects projects projects projects projects projects"
      "projects projects projects projects projects projects"
      "projects projects projects projects projects projects"
      "footer footer footer footer footer footer";
  }
  // Nav bar - visible in desktop version
  .navigation {
    font-family: $body-font;
    color: $body-text-colour;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;

    &__name {
      padding-left: 30px;
    }

    &__links {
      padding-right: 50px;
      display: flex;
    }
    &__links--home {
      padding: 10px;
    }
    &__links--about {
      padding: 10px;
    }
    &__links--projects {
      padding: 10px;
    }
  }

  // Intro
  .intro {
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__title {
      padding-left: 100px;
      width: 80%;
    }
    &__tagline {
      padding-left: 100px;
    }
    &__artwork {
      display: block;
      width: 40%;
      padding-right: 50px;
    }
  }

  main {
    width: 100vw;
  }

  // About section - profile image and greeting
  .container__about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about {
    grid-area: about;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "profile about" "profile text";

    &__title {
      width: 30%;
      grid-area: about;
    }

    &__image {
      width: 30rem;
      grid-area: profile;
    }
    &__text {
      width: 80%;
      text-align: start;
      grid-area: text;
    }
  }

  // Skills section
  .skills {
    grid-area: skills;
    &__title {
      margin: 20px;
    }

    &__icons {
      display: flex;
      flex-direction: row;
    }
  }

  // Projects section
  .projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;

    &__cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
  }
  // Footer section
  .contact {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
}
