@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost&display=swap");

$title-font: "Fjalla One", "Impact", sans-serif;
$body-font: "Jost", "Veranda", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// Intro/header
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &__title {
    font-family: $title-font;
    font-size: 4rem;
    padding: 20px;
  }
  &__tagline {
    font-family: $body-font;
    font-size: 2rem;
    padding-bottom: 20px;
  }
}
// Navigation
.navigation {
  display: none;
}
// About - title, image and text about me
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  &__image {
    width: 90%;
  }
  &__title {
    font-family: $title-font;
    font-size: 2rem;
  }
  &__text {
    font-family: $body-font;
  }
}
// Technical Skills - title, text about my skills, icons representing my skills
.skills {
  border: 1px solid blue;
  &__title {
    font-family: $title-font;
  }
  &__text {
    font-family: $body-font;
  }
}
// Projects - title, links and previews of my projects
.projects {
  border: 1px solid orange;
  &__title {
    font-family: $title-font;
  }
}
// Footer - links to my personal git, linkedin and cv, and my email
.contact {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__info {
    justify-content: center;
    align-items: center;
  }

  &__info--tagline {
    font-family: $title-font;
    font-size: 2.5rem;
  }
  &__info--email {
    font-size: 1rem;
    padding-bottom: 10px;
    font-family: $body-font;
  }
  &__links {
    font-family: $body-font;
    font-size: 1rem;
  }
}
