@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 241, 235);
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.intro__title {
  font-family: "Fjalla One", "Impact", sans-serif;
  color: rgb(8, 63, 49);
  font-size: 4rem;
  padding: 20px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.intro__tagline {
  font-family: "Jost", "Veranda", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 1.5rem;
}
.intro__artwork {
  display: none;
}

.navigation {
  display: none;
}
.navigation__links--home, .navigation__links--about, .navigation__links--projects {
  text-decoration: none;
}
.navigation__links--home:visited, .navigation__links--about:visited, .navigation__links--projects:visited {
  color: rgb(61, 61, 61);
}
.navigation__links--home:hover, .navigation__links--about:hover, .navigation__links--projects:hover {
  color: rgb(20, 163, 127);
  font-weight: bold;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.about__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about__image--pic {
  width: 80%;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(8, 63, 49);
}
.about__title {
  font-family: "Fjalla One", "Impact", sans-serif;
  font-size: 2rem;
  color: rgb(8, 63, 49);
  padding-top: 20px;
}
.about__text {
  font-family: "Jost", "Veranda", sans-serif;
  width: 80%;
  text-align: center;
  color: rgb(61, 61, 61);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.skills__title {
  font-family: "Fjalla One", "Impact", sans-serif;
  font-size: 2rem;
  padding: 15px;
  color: rgb(8, 63, 49);
}
.skills__text {
  font-family: "Jost", "Veranda", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  width: 80%;
  color: rgb(61, 61, 61);
  margin-top: 1rem;
}
.skills__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.projects__title {
  font-family: "Fjalla One", "Impact", sans-serif;
  font-size: 2rem;
  padding: 20px;
  color: rgb(8, 63, 49);
}
.projects__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
}
.projects__window {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(8, 63, 49);
  font-family: "Jost", "Veranda", sans-serif;
  width: 350px;
  display: flex;
  flex-direction: column;
  transition: 200ms;
}
.projects__window:hover {
  box-shadow: 5px 5px 20px rgb(20, 163, 127);
}
.projects__mainTitle {
  font-family: "Fjalla One", "Impact", sans-serif;
  font-size: 1.7rem;
  color: rgb(8, 63, 49);
  padding-left: 20px;
}
.projects__miniTitle {
  font-family: "Jost", "Veranda", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 1.2rem;
  padding-left: 20px;
}
.projects__text {
  color: rgb(61, 61, 61);
  padding: 20px;
}
.projects__image {
  display: flex;
  margin: 20px;
}
.projects__button {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  transition: 200ms;
}
.projects__button--code {
  border: 2px solid rgb(8, 63, 49);
}
.projects__button--code:hover {
  border: solid 2px rgb(20, 163, 127);
  padding: 8px;
  cursor: pointer;
  color: rgb(20, 163, 127);
}
.projects__button--preview {
  border: 2px solid rgb(8, 63, 49);
}
.projects__button--preview:hover {
  border: solid 2px rgb(20, 163, 127);
  padding: 8px;
  cursor: pointer;
  color: rgb(20, 163, 127);
}

.contact {
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__info--tagline {
  font-family: "Fjalla One", "Impact", sans-serif;
  font-size: 2.5rem;
}
.contact__info--email {
  font-size: 1rem;
  padding-bottom: 10px;
  font-family: "Jost", "Veranda", sans-serif;
  text-decoration: none;
}
.contact__info--email:link, .contact__info--email:visited {
  color: white;
}
.contact__info--email:hover {
  color: rgb(20, 163, 127);
  cursor: pointer;
}
.contact__icon--git:hover, .contact__icon--linkedin:hover, .contact__icon--cv:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 60vh 60vh 60vh 90vh 20vh;
    grid-template-areas: "navigation navigation navigation navigation navigation navigation" "intro intro intro intro intro intro" "about about about skills skills skills" "about about about skills skills skills" "projects projects projects projects projects projects" "projects projects projects projects projects projects" "projects projects projects projects projects projects" "contact contact contact contact contact contact";
  }
  .navigation {
    font-family: "Jost", "Veranda", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: navigation;
  }
  .navigation__name {
    padding-left: 20px;
  }
  .navigation__links {
    display: flex;
  }
  .navigation__links--home {
    padding: 5px;
  }
  .navigation__links--about {
    padding: 5px;
  }
  .navigation__links--projects {
    padding: 5px;
  }
  .intro {
    grid-area: intro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .intro__title {
    padding-left: 50px;
    font-size: 4rem;
  }
  .intro__tagline {
    display: flex;
  }
  .intro__artwork {
    display: block;
    width: 60%;
  }
  .container__about {
    grid-area: about;
  }
  .about {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "about" "profile" "txt";
    width: 100%;
    margin-bottom: 20px;
  }
  .about__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    grid-area: about;
    font-size: 2rem;
    margin-top: 35px;
  }
  .about__image {
    grid-area: profile;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__image--pic {
    width: 60%;
  }
  .about__text {
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .skills {
    padding: 0;
    margin: 0;
    grid-area: skills;
  }
  .skills__title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 28px;
    margin-bottom: 40px;
  }
  .skills__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
  }
  .skills__text {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .skills__icons--html, .skills__icons--git, .skills__icons--css, .skills__icons--javascript, .skills__icons--java, .skills__icons--bem, .skills__icons--springboot, .skills__icons--scss, .skills__icons--react {
    height: 85px;
  }
  .projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .projects__window {
    margin: 6px;
  }
  .contact {
    grid-area: contact;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh 60vh 60vh 100vh 20vh;
    grid-template-areas: "navigation navigation navigation navigation navigation navigation" "intro intro intro intro intro intro" "about about about about about about" "skills skills skills skills skills skills" "projects projects projects projects projects projects" "projects projects projects projects projects projects" "projects projects projects projects projects projects" "contact contact contact contact contact contact";
  }
  .navigation {
    font-family: "Jost", "Veranda", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    grid-area: navigation;
  }
  .navigation__name {
    padding-left: 30px;
  }
  .navigation__links {
    padding-right: 50px;
    display: flex;
  }
  .navigation__links--home {
    padding: 10px;
  }
  .navigation__links--about {
    padding: 10px;
  }
  .navigation__links--projects {
    padding: 10px;
  }
  .intro {
    grid-area: intro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .intro__title {
    padding-left: 100px;
  }
  .intro__tagline {
    padding-left: 100px;
  }
  .intro__artwork {
    display: block;
    padding-right: 50px;
  }
  .container__about {
    grid-area: about;
    margin-bottom: 50px;
  }
  .about {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "profile about" "profile txt";
    width: 100%;
  }
  .about__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    grid-area: about;
  }
  .about__image {
    grid-area: profile;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  .about__image--pic {
    width: 50%;
  }
  .about__text {
    text-align: start;
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-top: 50px;
  }
  .skills {
    grid-area: skills;
  }
  .skills__title {
    margin: 20px;
  }
  .skills__icons {
    display: flex;
    flex-direction: row;
  }
  .skills__text {
    width: 40%;
  }
  .projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
  }
  .projects__window {
    margin: 6px;
  }
  .contact {
    grid-area: contact;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}/*# sourceMappingURL=styles.css.map */